* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* & ::selection {
        background-color: #7e83dc;
        color: #0f1115;
    } */
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #0f1115;
    color: #e6e6e6;
    line-height: 1.5;
}

html,
body,
#root {
    height: 100%;
}

a {
    color: #e6e6e6;
    text-decoration: none;
    user-select: none;
}